.paginationStyle {
    display: flex;
    flex-direction: row;
    justify-content: end;

    button {
        border: none;
        padding: 0 10px;
        text-decoration: underline;
    }
}

@media (max-width: 1024px) {
    .paginationStyle {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}