$lime: #00A676;
$green: #1D8439;
$red: #952E0D;
$grey: #F5F5F5;
$white: #FFFFFF;
$black: #000000;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
