@import '../../assets/helper/Helper.module.scss';

a{
    text-decoration: none;
    color: $green;
    font-weight: 400;
    border: 1px solid $green;
    align-items: center;
    align-self: center;
    color: $white;
    background-color: $green;
    span{
      color: $green;
      background-color: $white;
    }
}