@import '../../assets/helper/Helper.module.scss';

.formStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;

    div {
        margin: auto;
        margin-bottom: 10px;
        max-width: 400px;
        width: 100%;     
    }
    input {
        width: 100%;     
    }

    a {
        color: $lime;
    }

}
.loginBtnStyle {
    width: 100px;
    height: 30px;
    align-self: flex-end;
    margin: auto;
    border: none;
    background-color: $green;
    color: $white;
}

.loggedInPage{
    display: flex;
    flex-direction: column;
    button{
        width: 150px;
        height: 40px;
        margin: 10px 0;
    }
}