@import '../../assets/helper/Helper.module.scss';

.commentSection {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .commentBtn {
        width: 100px;
        height: 25px;
        font-size: 14px;
        background-color: $green;
        color: $white;
        margin: 10px 0;
        border: none;
        align-self: flex-end;
    }
}

.commentFeed {
    width: 50%;
    margin: auto;
    .deleteCommentBtn{
        border: none;
        background-color: transparent;
        text-align: end;
        width: 50%;
        color: #952E0D;
        font-size: 10px;
        font-weight: 300;
    }
}
