.grid {
    display: grid;
    justify-content: center;
    justify-items: center;
    gap: 8px;
    width: 100%;
    grid-template-columns: var(--columns, 1fr); /* Default for larger screens */

    @media (max-width: 1300px) {
        grid-template-columns: var(--tablet-columns, 1fr 1fr); /* Default for tablets */
    }

    @media (max-width: 700px) {
        grid-template-columns: var(--mobile-columns, 1fr); /* Default for mobile */
    }
}
